# Задание pandas

In [5]:
import pandas as pd
import numpy as np

YOURID = 'F14DM'
#test case

### 1. Прочитайте "telecom_churn.csv" в датафрейм

In [6]:
df = pd.read_csv('telecom_churn.csv')

### 2. Выведите первые 10 строк

In [7]:
df.head(10)

,CustomerID,Churn,MonthlyRevenue,MonthlyMinutes,TotalRecurringCharge,DirectorAssistedCalls,OverageMinutes,RoamingCalls,PercChangeMinutes,PercChangeRevenues,...,ReferralsMadeBySubscriber,IncomeGroup,OwnsMotorcycle,AdjustmentsToCreditRating,HandsetPrice,MadeCallToRetentionTeam,CreditRating,PrizmCode,Occupation,MaritalStatus
0,3000002,Yes,24.00,219.0,22.0,0.25,0.0,0.0,-157.0,-19.0,...,0,4,No,0,30,Yes,1-Highest,Suburban,Professional,No
1,3000010,Yes,16.99,10.0,17.0,0.00,0.0,0.0,-4.0,0.0,...,0,5,No,0,30,No,4-Medium,Suburban,Professional,Yes
2,3000014,No,38.00,8.0,38.0,0.00,0.0,0.0,-2.0,0.0,...,0,6,No,0,Unknown,No,3-Good,Town,Crafts,Yes
3,3000022,No,82.28,1312.0,75.0,1.24,0.0,0.0,157.0,8.1,...,0,6,No,0,10,No,4-Medium,Other,Other,No
4,3000026,Yes,17.14,0.0,17.0,0.00,0.0,0.0,0.0,-0.2,...,0,9,No,1,10,No,1-Highest,Other,Professional,Yes
5,3000030,No,38.05,682.0,52.0,0.25,0.0,0.0,148.0,-3.1,...,0,1,No,1,30,No,3-Good,Other,Other,Yes
6,3000038,No,31.66,26.0,30.0,0.25,0.0,0.0,60.0,4.0,...,0,9,No,1,30,No,1-Highest,Other,Self,Yes
7,3000042,No,62.13,98.0,66.0,2.48,0.0,0.0,24.0,6.8,...,0,6,No,0,30,No,1-Highest,Other,Professional,No
8,3000046,No,35.30,24.0,35.0,0.00,0.0,0.0,20.0,-0.3,...,0,9,No,0,80,No,1-Highest,Other,Other,Yes
9,3000050,No,81.00,1056.0,75.0,0.00,0.0,0.0,43.0,2.4,...,0,5,No,1,30,No,3-Good,Other,Professional,No

### 3. Выведите число объектов и колонок в датафрейме

In [9]:
df.shape

(51047, 58)

### 4. Выведите названия всех колонок

In [10]:
df.columns

Index(['CustomerID', 'Churn', 'MonthlyRevenue', 'MonthlyMinutes',
       'TotalRecurringCharge', 'DirectorAssistedCalls', 'OverageMinutes',
       'RoamingCalls', 'PercChangeMinutes', 'PercChangeRevenues',
       'DroppedCalls', 'BlockedCalls', 'UnansweredCalls', 'CustomerCareCalls',
       'ThreewayCalls', 'ReceivedCalls', 'OutboundCalls', 'InboundCalls',
       'PeakCallsInOut', 'OffPeakCallsInOut', 'DroppedBlockedCalls',
       'CallForwardingCalls', 'CallWaitingCalls', 'MonthsInService',
       'UniqueSubs', 'ActiveSubs', 'ServiceArea', 'Handsets', 'HandsetModels',
       'CurrentEquipmentDays', 'AgeHH1', 'AgeHH2', 'ChildrenInHH',
       'HandsetRefurbished', 'HandsetWebCapable', 'TruckOwner', 'RVOwner',
       'Homeownership', 'BuysViaMailOrder', 'RespondsToMailOffers',
       'OptOutMailings', 'NonUSTravel', 'OwnsComputer', 'HasCreditCard',
       'RetentionCalls', 'RetentionOffersAccepted', 'NewCellphoneUser',
       'NotNewCellphoneUser', 'ReferralsMadeBySubscriber', 'IncomeGroup',
       'OwnsMotorcycle', 'AdjustmentsToCreditRating', 'HandsetPrice',
       'MadeCallToRetentionTeam', 'CreditRating', 'PrizmCode', 'Occupation',
       'MaritalStatus'],
      dtype='object')

### 5. Выведите статистику по нечисловым признакам

In [14]:
df.describe(include = 'object')

,Churn,ServiceArea,ChildrenInHH,HandsetRefurbished,HandsetWebCapable,TruckOwner,RVOwner,Homeownership,BuysViaMailOrder,RespondsToMailOffers,...,HasCreditCard,NewCellphoneUser,NotNewCellphoneUser,OwnsMotorcycle,HandsetPrice,MadeCallToRetentionTeam,CreditRating,PrizmCode,Occupation,MaritalStatus
count,51047,51023,51047,51047,51047,51047,51047,51047,51047,51047,...,51047,51047,51047,51047,51047,51047,51047,51047,51047,51047
unique,2,747,2,2,2,2,2,2,2,2,...,2,2,2,2,16,2,7,4,8,3
top,No,NYCBRO917,No,No,Yes,No,No,Known,No,No,...,Yes,No,No,No,Unknown,No,2-High,Other,Other,Unknown
freq,36336,1684,38679,43956,46046,41524,46894,33987,32596,31821,...,34503,41223,44012,50368,28982,49302,18993,24655,37637,19700

### 6. Покажите все возможные значения поля UniqueSubs и их количества

In [19]:
df['UniqueSubs'].value_counts()

1      32109
2      13852
3       3212
4       1219
5        421
6        147
7         49
9         12
8         10
10         6
12         3
11         3
13         2
18         1
196        1
Name: UniqueSubs, dtype: int64

### 7. Какое количество клиентов (CustomerID) имеет более двух уникальных абонентов (UniqueSubs)?

### 8. Сколько уникальных значений ServiceArea?

In [20]:
df['ServiceArea'].value_counts()

NYCBRO917    1684
HOUHOU281    1510
DALDAL214    1498
NYCMAN917    1182
APCFCH703     783
             ...
ATLOVB601       1
PHIMIL302       1
NORALX320       1
VAHWAY540       1
FLNWAU863       1
Name: ServiceArea, Length: 747, dtype: int64

### 9. Выведите первые 4 колонки (включая CustomersID) для первых 10 объектов, у которых OutboundsCalls < InboundCalls

In [31]:
df[df['OutboundCalls'] < df['InboundCalls']].iloc[:10, :4]

    CustomerID Churn  MonthlyRevenue  MonthlyMinutes
21     3000134    No           21.15            46.0
42     3000282    No           84.91           745.0
44     3000294    No          107.25          1671.0
50     3000330    No          196.76          3479.0
52     3000350    No           56.31          1010.0
67     3000434    No          226.00          2338.0
69     3000458    No          113.52          1807.0
78     3000514    No           97.83          1670.0
88     3000602    No           34.99            44.0
98     3000678    No           65.94           572.0

### 10. Содайте колонку MinutesSegment (low - не больше 1000 минут, остальное - high) и выведите первые 10 клиентов с указанием их сегмента

In [32]:
df['MinutesSegment'] = df['MonthlyMinutes'].map(lambda x: 'low' if x <= 1000 else 'high')
df['MinutesSegment'].head(10)

0     low
1     low
2     low
3    high
4     low
5     low
6     low
7     low
8     low
9    high
Name: MinutesSegment, dtype: object

### 11. Сгруппируйте данные по полю MaritalStatus и посчитайте среднее для InboundCalls и OutboundCalls (ответ должен быть в виде таблицы)

In [24]:
df.groupby(['MaritalStatus'])['InboundCalls' , 'OutboundCalls'].agg([np.mean])

              InboundCalls OutboundCalls
                      mean          mean
MaritalStatus
No                8.620920     27.108688
Unknown           9.868609     29.655690
Yes               6.091089     19.680832

### 12. Сделайте сводную таблицу по полям CreditRating и Occupation, не заудьте про суммы по строкам и колонкам

In [ ]:
pd.pivot_table(df, columns = ['CreditRating','Occupation'])

### 13. Кодируйте поле PrizmCode (выведите первые 10 строк)

### 14.* Создайте словарь для кодирования поля CreditRating не вручную (подсказка: cat.codes может быть полезен)